.IPO {
    background-color:white;
    padding:10px;

}
.IPO h2 {
    text-align: left;
}

.IPO .ant-table-content {
    font-size: 0.3em;
}
.IPO .ant-table {
    overflow: auto;
}
.IPO th{
    min-width: 90px;
}