#searchResultList {
    height:250px;
    overflow: scroll;
    background-color: white;
    display:none;
}

#searchResultList::-webkit-scrollbar{
    width: 9px;
    height: 0px;
    background-color: white;
   
}
#searchResultList::-webkit-scrollbar-track{
    border-radius: 20px;
    background-color: white;  
   
}s
#searchResultList::-webkit-scrollbar-thumb{
    height: 20px;
    border-radius: 20px;
    background-color: rgb(221, 205, 205);  
}
#searchResultList .ant-list-item {
    border:none;
}
#searchResultList .ant-list-item:hover {
    background-color: rgb(240, 240, 245);
}
#searchResultList .ant-list-item-content-single {
    margin-left:12px;
}