.SectorSummary {
    margin-bottom: 5px;
}
.SectorSummary .ant-card-body {
    padding:5px;
}
.SectorSummary .ant-card-body p {
    margin-bottom:0px;
}
.SectorSummary .ant-card-cover img{
    height:120px;
}
.SectorSummary .green {
    color:white;
    background-color: #076907;
    font-weight: bold;
}
.SectorSummary .red {
    color:white;
    background-color: #af3232;
    font-weight: bold;
}
.red {
    color:#af3232;
    background-color: transparent;
}
.green {
    color:#076907;
    background-color: transparent;
}