.SpecialListTableHeader {
  text-align: left;
}
.SpecialListTableHeader h3 {
  margin-bottom: 0px;
}
.SpecialListTableHeader p {
  font-size: 0.5px;
}
.Symbol p {
  margin: 0;
}
.Symbol p:nth-child(2) {
  font-size: 0.5px;
}
