.LoginForm {
  .ant-form-item {
    padding-bottom: 0px;
    margin-bottom: 5px;
  }
  .LoginButton {
    .ant-form-item {
      display: inline-block;
      margin-right: 5px;
    }
  }
}

.LogoutForm {
  p {
    margin: 5px;
    display: inline-block;
    line-height: 14px;
  }
}
