.SectorDetailsContent .ant-table {
  background-color: white;
}
.SectorDetailsContent .ant-table-content .ant-table-header {
  overflow: auto;
}
.SectorDetailsContent .ant-table-content {
  padding: 20px;
}
.SectorDetailsContent .ant-table-content p {
  margin-bottom: 0px;
}
