.SymbolProfile {
    background-color: white;
    padding:10px;
    text-align: left;
}
.SymbolProfile .details div {
    padding:0 8px 16px 8px;
}

.SymbolProfile .title {
    margin-bottom: 8px;
}
.SymbolProfile .value {
    margin:0;
    font-weight: bold;
}